.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #666;
}

.App {
  background-image: url("../public/bg.png");
  background-position: center;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}
